// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, div {
  font: inherit;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  border: 0px;
  background: transparent;

}

body{
  font-family: sans-serif;
}

.organ{
  width: 350px;
  height: 200px;
  background: lightgrey;
}

.key{
  border: 1px solid black;
  background: white;
  height: 198px;
  width: 48px;
  float: left;
}

.playing {
  background: red;
}
